.List {
    display:flex;
    justify-content: center;
    align-items:center; 
    width:50%;
    margin:auto;
}
.List .title{
    width:100%;
    color:purple;
    background-color: aquamarine;
    text-align:center;
}
.List .content{
    width:100%;
    height:2em;
    display:flex;
    border-bottom: 1px solid #ccc;
}
.List .text{
    width:100%;
    display:flex;
    align-items:center;
    padding: 0 5px;
    transition : background-color 200ms ease-in;
}
.List .text:hover{
    cursor:pointer;
    background-color:aquamarine;
    transition:background-color 200ms ease-in;
}
.List .delete{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:5px;
}
.List .delete:hover{
    cursor:pointer;
    background-color:red;
    transition: background-color 200ms ease-in
}